<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fortune teller</title>
	<style >
		body {
			background-image: url('https://as1.ftcdn.net/v2/jpg/03/01/23/58/1000_F_301235857_NhqCczGN4LlOPiPXs1NJzfOp8DWNE16R.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed ;
			background-size: 100% 100% ;
			background-color:deepskyblue ;
			text-align: center;
			color: goldenrod;
			font-size: 30px;

		}
		{
			.outlined{
				-webkit-text-stroke:0.5px black;
			}
		}
	</style>
</head>
<body>

   <form action="/" method="POST">
   	<p class='outlined'>Type your name and your birthday </p>
   	<input type="text" name="name" placeholder="Write Your name ">
   	<input type="text" name="birthday" placeholder="Write Your birthday date">
   	<input type="submit" value="Submit">


   </form>
</body>
</html>