<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveler Preferences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Travel Preferences Survey</h1>
                <p style="font-size:40px;  display: flex;
  justify-content: center;
  align-items: center;"><img src="{{ url_for('static', filename='logo.png') }}" style="align: left;"width="200"alt="Logo" class="logo">RoamVol</p>
            </div>
        </div>
    </header>

    <section class="survey-section" >
        <div class="container">
            <div class="survey-block">
                <h2>Suggested Schemes and Availability</h2>
                <form action="/results" method="POST">
                    <div class="form-group">
                        <label for="destination">Preferred Destination:</label>
                        <select id="destination" name="destination">
                            <option value="beach">Beach</option>
                            <option value="mountains">Mountains</option>
                            <option value="city">City</option>
                            <option value="countryside">Countryside</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="activity">Favorite Activity:</label>
                        <select id="activity" name="activity">
                            <option value="hiking">Hiking</option>
                            <option value="swimming">Swimming</option>
                            <option value="sightseeing">Sightseeing</option>
                            <option value="relaxing">Relaxing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Travel Style:</label>
                        <div>
                            <input type="radio" id="solo" name="travel_style" value="solo">Solo
                           
                        </div>
                        <div>
                            <input type="radio" id="group" name="travel_style" value="group">Group
                            
                        </div>
                        <div>
                            <input type="radio" id="family" name="travel_style" value="family">Family
                        </div>
                    </div>
                   <button type="submit" class="btn">Submit Preferences</button>

                </form>
            </div>
        </div>
    </section>
<a href="/signout"> <button type="submit" class="btn">Sign out</button></a>
    <footer>

        <p>Travel Preferences Survey &copy; 2024</p>
    </footer>
</body>
</html>
